
version: 2
jobs:
  build:
    docker:
      - image: circleci/node:9.4

    working_directory: ~/repo

    steps:
      - checkout

      # Root node modules
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-

      # Api node modules
      - restore_cache:
          keys:
          - api-dependencies-{{ checksum "packages/api/package.json" }}
          - api-dependencies-

      # Gui node modules
      - restore_cache:
          keys:
          - gui-dependencies-{{ checksum "packages/gui/package.json" }}
          - gui-dependencies-

      # Elm packages
      - restore_cache:
          keys:
          - elm-dependencies-{{ checksum "packages/gui/elm-package.json" }}
          - elm-dependencies-

      # Install packages
      - run: yarn install

      # Root node modules
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # Api node modules
      - save_cache:
          paths:
            - packages/api/node_modules
          key: api-dependencies-{{ checksum "packages/api/package.json" }}

      # Gui node modules
      - save_cache:
          paths:
            - packages/gui/node_modules
          key: gui-dependencies-{{ checksum "packages/gui/package.json" }}

      # Elm packages
      - save_cache:
          paths:
            - packages/gui/elm-stuff
          key: elm-dependencies-{{ checksum "packages/gui/elm-package.json" }}

      - run:
          command: |
            echo "Test 1"
            echo "Test 2"

      # Run tests
      - run: yarn test
